.container {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  padding: 0 24px;
}

.h1 {
  margin-bottom: 0px;
}

.explain {
  font-size: 1.125rem;
  max-width: 1200px;
}

.divider {
  width: 50%;
  border-color: grey;
  opacity: 0.25;
}

.smallDivider {
  width: 25%;
  border-color: grey;
  margin-top: 64px;
  opacity: 0.25;
}

.nftBoxGrids {
  width: 1200px;
  max-width: 95vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2%;
  margin-top: 28px;
  flex-wrap: wrap;
}
.nftBoxGrid {
  width: 1200px;
  max-width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2%;
  margin-top: 28px;
  flex-wrap: wrap;
}

.nftBox {
  border-radius: 23px;
  border: 1px solid #ccc;
  /* width: 42%; */
  height: 141px;
  padding: 16px;
  display: flex
;
  width: 70%;
  justify-content: space-evenly;
  align-items: flex-start;

}
.nftBoxs {
  border-radius: 16px;
  border: 1px solid #ccc;
  width: 19%;
  min-height: 200px;
  padding: 16px;
}
.optionSelectBox {
  border-radius: 16px;
  border: 1px solid #ccc;
  width: 48%;
  min-height: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}

.selectBoxTitle {
  font-size: 1.75rem;
  margin-top: 8px;
  margin-bottom: 8px;
}

.selectBoxDescription {
  color: rgba(255, 255, 255, 0.9);
  margin-top: 0px;
}

/* Between 1200 and 800 */
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .nftBox {
    width: 69%;
    margin-top: 16px;
  }
  .nftBoxs {
    width: 49%;
    margin-top: 16px;
  }
  
}

/* beneath 800
*/
@media only screen and (max-width: 800px) {
  .nftBoxGrid {
    justify-content: center;
  }
  .nftBox {
    width: 90%;
    margin-top: 16px;
  }
  .optionSelectBox {
    width: 90%;
    margin-top: 16px;
  }
}

.tokenGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1%;
  width: 1600px;
  max-width: 95vw;
  flex-wrap: wrap;
  margin: 16px 0;
}

.tokenItem {
  width: 35%;
  height: 120px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
  gap: 16px;
}

.tokenLabel {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
}

/* Second tokenLabel item */

.tokenValue {
  font-size: 1.3rem;
  margin-top: 8px;
  margin-bottom: 0px;
  font-weight: 500;
}

/* On Mobile, make tokenGrid 100% width */
@media only screen and (max-width: 850px) {
  .tokenItem {
    width: 90%;
    margin-top: 12px;
  }
}

/* Screen less than 630, then hide .center */
@media only screen and (max-width: 630px) {
  .center {
    display: none;
  }
}

.spacerTop {
  margin-top: 16px;
}

.bigSpacerTop {
  margin-top: 32px;
}

.spacerBottom {
  margin-bottom: 16px;
}

.detailPageHr {
  margin-top: 0px;
  margin-bottom: 32px;
}

.nftMedia {
  width: 100%;
  max-height: 300px;
  border-radius: 15px;
}

.wallett {
  background: rgb(182 170 140) !important;
  /* background: linear-gradient(153deg, rgb(4, 25, 58) 36%, rgba(249, 228, 0, 1) 100%) !important; */
  border-radius: 12px !important;
  -webkit-box-shadow: 10px 10px 20px -6px rgba (100, 230,250,0.7) !important;
-moz-box-shadow: 10px 10px 20px -6px rgba (100,230, 250,0.7) !important; 
  box-shadow: 0px 0px 20px 2px rgba(100, 230, 250, 0.7) !important;
  color: ■white !important;
  cursor: pointer !important;
  font-size: 100% ! important;
  font-family:"Bungee" !important;
  height: 63px ! important;
  /* width: 106px; */
  padding: 0 25px !important;
  position: relative !important;
  text-align: center !important;
  transition: all 0.15s ease-in-out !important;
  left: 80% !important;
  /* top: -159px !important; */
  top: 23px !important;
}

.wallett:hover{
  box-shadow: 0px 0px 20px 2px rgba(120, 137, 140, 0.7) !important;
  transform: translateY(-2px) !important;
}

.wallettt {
  background: rgb(182 170 140) !important;
  /* background: linear-gradient(153deg, rgb(4, 25, 58) 36%, rgba(249, 228, 0, 1) 100%) !important; */
  border-radius: 12px !important;
  -webkit-box-shadow: 10px 10px 20px -6px rgba (100, 230,250,0.7) !important;
-moz-box-shadow: 10px 10px 20px -6px rgba (100,230, 250,0.7) !important; 
  box-shadow: 0px 0px 20px 2px rgba(100, 230, 250, 0.7) !important;
  color: ■white !important;
  cursor: pointer !important;
  font-size: 100% ! important;
  font-family:"Bungee" !important;
  height: 36px ! important;
  top: 22px ! important;
  left: 10px ! important;
  padding: 0 25px !important;
  position: relative !important;
  text-align: center !important;
  transition: all 0.15s ease-in-out !important;
/* left: 88% !important; */
/* top: 10px !important */
}

.wallettt:hover{
  box-shadow: 0px 0px 20px 2px rgba(120, 137, 140, 0.7) !important;
  /* box-shadow: 0px 0px 40px 5px rgba (100,230,250,0.7) !important; */
  transform: translateY(-2px) !important;
}

@media screen and (min-device-width: 281px) and (max-device-width: 768px){
  .wallett{
      left: 51% !important;
  top: 21px !important;
  }
}
